<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [3]:
import pandas as pd 
import plotly.offline as py 
import numpy as np

py.init_notebook_mode(connected=True)

In [7]:
logs = pd.read_csv('daily_logs.csv')
metaData = pd.read_csv('app_metadata.csv')
logs[:15]

,the_date,client_id,api_endpoint,num_requests,avg_latency
0,12/25/17 0:00,dve7ifeawf0xeegigqamnvqy9qqm2y,GET /v5/channels/:id,2366,65
1,12/21/17 0:00,6x8avioex0zt85ht6py4sq55z6avsea,GET /v5/channels/:id,4255,91
2,1/1/18 0:00,dve7ifeawf0xeegigqamnvqy9qqm2y,GET /v5/streams/:id,80857,143
3,2/3/18 0:00,r62ryboyyhzbfs3ng6lln92w2op3wdz,GET /v3/channels/:login,17,58
4,1/14/18 0:00,8bmp6j83z5w4mepq0dn0q1a7g186azi,GET /v5/streams,1104,178
5,11/15/17 0:00,36v98kaawy48toz20d8gntnpk,GET /v5/channels/:channel_id/follows,10842,65
6,12/12/17 0:00,r1czfv4czh1ub7ejxi903njcwwzswz,GET /v5/channels/:channel_id/communities,17,77
7,2/1/18 0:00,r1czfv4czh1ub7ejxi903njcwwzswz,GET /v5/channels/:channel_id/community,1,8
8,2/3/18 0:00,33kozedd0zs6fbauka98psnc7zwom2s,GET /v5/channels/:id,130,248
9,1/17/18 0:00,sv6t1c3j2s5uuz3elxftm7s1bx54b31,GET /v3/channels/:channel/follows,64572,49
10,12/18/17 0:00,r62ryboyyhzbfs3ng6lln92w2op3wdz,GET /v3,41530,118
11,12/18/17 0:00,ye3x8sf0oh9oj4z0fu1bmvlkoyzn8l,GET /v3/search/games,12,89
12,11/20/17 0:00,pjldg61blqydhxlq49gyf2rwlcenw5,GET /v3/user/,12,36
13,1/31/18 0:00,pjldg61blqydhxlq49gyf2rwlcenw5,GET /v5/streams/:id,657997,20
14,1/10/18 0:00,664hk76z0hvg3zr5ej9j3tktbo0nf2n,GET /v3/user.json,1,45

Ok so there's a little more than 13k entries in the logs. <Each given a time stamp and what api they are attempting to access.

In [13]:
logs.describe()

       num_requests   avg_latency
count  1.333600e+04  13336.000000
mean   4.401228e+04    112.892621
std    2.662056e+05    114.458893
min    1.000000e+00      0.000000
25%    1.100000e+01     41.000000
50%    1.030000e+02     77.000000
75%    1.861500e+03    140.000000
max    4.425415e+06   1234.000000

In [14]:
metaData[:10]

,client_id,application_name,application_author
0,dve7ifeawf0xeegigqamnvqy9qqm2y,pogchamp_chatbot,team_emote
1,6x8avioex0zt85ht6py4sq55z6avsea,spicy_viewer_tool,one_more_thing
2,r62ryboyyhzbfs3ng6lln92w2op3wdz,swiftrage_game_app,team_emote
3,8bmp6j83z5w4mepq0dn0q1a7g186azi,rng_streamer_tool,one_more_thing
4,36v98kaawy48toz20d8gntnpk,lit_streamer_tool,one_more_thing
5,33kozedd0zs6fbauka98psnc7zwom2s,saba_chatbot,team_emote
6,sv6t1c3j2s5uuz3elxftm7s1bx54b31,glitch_streamer_tool,go_purple
7,ye3x8sf0oh9oj4z0fu1bmvlkoyzn8l,purple_star_streamer_tool,go_purple
8,pjldg61blqydhxlq49gyf2rwlcenw5,heyguys_streamer_tool,team_emote
9,664hk76z0hvg3zr5ej9j3tktbo0nf2n,smorc_streamer_tool,team_emote

In [15]:
metaData.describe()

                             client_id    application_name application_author
count                               22                  22                 22
unique                              22                  22                  4
top     pjldg61blqydhxlq49gyf2rwlcenw5  vohiyo_viewer_tool         team_emote
freq                                 1                   1                  9

In [18]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13336 entries, 0 to 13335
Data columns (total 5 columns):
the_date        13336 non-null object
client_id       13336 non-null object
api_endpoint    13336 non-null object
num_requests    13336 non-null int64
avg_latency     13336 non-null int64
dtypes: int64(2), object(3)
memory usage: 521.0+ KB